body {
    user-select: none;
    display: block;
    display: flex;
    justify-content: left;
    align-items: center;
    background: url('../KÉPEK/HATTER.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
}

img {
    display: table;
    margin: auto;
    width: 20%;
    text-align: center;
    max-width: calc(100vw - 10px);
    display: block;
    border-radius: 50px;
    background-color: hsla(0, 0%, 100%, .5);
    box-shadow: hsla(0, 0%, 0%, .8) 40px 40px 70px;
    padding: 40px;
}
